.sidebar {
    .ps-sidebar-root {
        border: none;
        height: 100%;
    }

    .ps-sidebar-container {
        background-color: var(--secondary-background-color) !important;
    }

    .ps-menu-button {
        padding: 5px 35px 5px 20px !important;
    }

    &__menu-header {
        color: var(--primary-text-color);

        .ps-menu-button:hover {
            background-color: transparent !important;
            cursor: auto;
        }
    }

    .sidebar-items {
        & .ps-menu-button:hover {
            background-color: var(--list-hover-color);
        }
        .ps-menu-button:hover {
            color: var(--light-blue-text-color) !important;
        }
        .ps-active {
            color: var(--light-blue-text-color) !important;
        }

        &__subtitle {
            font-size: 14px;
            font-weight: 500;
            color: var(--secondary-text-color);
            margin: 15px 0 5px 20px;
        }
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}
