@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.dashboard {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--primary-background-color);

    main {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: var(--primary-button-color);
        font-size: 18px;
        padding: 8px;
        border-radius: 50%;
        min-width: 37px;
        min-height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: var(--hover-button-color);
        }
    }

    &-section {
        margin: 20px;
    }
}
