.home {
    background-color: var(--primary-background-color);

    &__featured {
        padding-top: 3rem;
        color: var(--primary-text-color);

        .container {
            padding: 10px;
            height: 100%;
        }

        &__wrapper {
            height: 80%;
        }

        &__status {
            height: 60vh;
            position: relative;
        }

        &__content {
            padding: 1.5rem 0 0 0;
            display: flex;
            justify-content: center;
            gap: 30px 20px;
            flex-wrap: wrap;
        }
    }
}
