.home {
    min-height: 100vh;
    background-color: var(--main-background-color);

    .home__featured {
        padding-top: 2rem;
        color: var(--main-text-color);

        .container {
            padding: 10px;
        }

        .home__featured__content {
            padding: 1.5rem 0 0 0;
            display: flex;
            justify-content: center;
            gap: 30px 20px;
            flex-wrap: wrap;
        }
    }
}
