.home {
    height: 100vh;
    background-color: var(--main-background-color);

    &__featured {
        height: 100%;
        padding-top: 2rem;
        color: var(--main-text-color);

        .container {
            padding: 10px;
            height: 100%;
        }

        &__wrapper {
            height: 80%;
            position: relative;
        }

        &__content {
            padding: 1.5rem 0 0 0;
            display: flex;
            justify-content: center;
            gap: 30px 20px;
            flex-wrap: wrap;
        }
    }
}
