.stat-box {
    color: var(--light-green-text-color);
    width: 100%;
    margin: 0 30px;

    &__header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 24px;
    }
}
