.video {
    min-height: 100%;
    width: 100%;
    padding: 10px 20px;

    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    video {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .video__description {
        margin-top: 20px;
    }
}
