.video {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 10px 20px;

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;

        h2 {
            font-size: 30px;
        }
        &__check {
            font-size: 18px;
            margin-left: 10px;
            vertical-align: middle;
            color: #3fb24b;
        }
    }
    video {
        width: 100%;
        aspect-ratio: 16/9;
    }

    &__description {
        margin: 20px 0;
    }

    &__nav {
        display: flex;
        // justify-content: flex-end;
        align-items: center;
        gap: 20px;

        button {
            cursor: pointer;
            border: 1px solid;
            padding: 5px 20px;
            background-color: transparent;
            color: var(--main-text-color);
        }
    }
}
