.search {
    position: relative;
    display: flex;
    width: 40%;
    max-width: 400px;
    background-color: var(--search-background-color);
    border-radius: 5px;

    @media (max-width: 640px) {
        display: none;
    }

    input {
        flex-grow: 1;
        padding: 10px 15px;
        border: none;
        border-radius: 5px 0px 0px 5px;
        background-color: var(--search-background-color);

        &:focus {
            outline: none;
        }
    }

    .search__icon {
        padding: 7.6px 15px;
        line-height: normal;
        border: none;
        border-radius: 0px 5px 5px 0px;
        background-color: var(--search-icon-background-color);
        color: var(--search-icon-color);
        cursor: pointer;

        &:hover {
            background-color: var(--light-hover);
        }
    }

    .suggestion-list {
        position: absolute;
        background-color: var(--search-background-color);
        top: calc(100% + 1px);
        width: 100%;
        border-radius: 0 0 5px 5px;
        font-size: 14px;
        overflow: hidden;
        color: black;

        li {
            padding: 5px 10px;
            transition: background-color 0.3s ease;

            &:not(.no-hover):hover {
                background-color: var(--light-hover);
            }
        }
    }
}

.search.mobile {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-background-color);
    border-radius: 5px;
    top: calc(100% + 4px);
    min-width: 250px;
    left: 2.5%;
    transition: width 0.6s ease-out, padding 0.6s ease-out;

    input {
        flex-grow: initial;
        width: 0;
        padding: 10px 0;
        background-color: var(--main-background-color);
        border-bottom: 1px solid var(--main-text-color);
        border-radius: 0;
        transition: width 0.6s ease-out, padding 0.6s ease-out;

        &:focus {
            outline: none;
        }
    }

    .search__icon {
        border-radius: 0;
        width: fit-content;
        z-index: 10;
        cursor: pointer;
        background-color: var(--main-background-color);
        color: var(--main-text-color);
    }

    &.show {
        max-width: 400px;
        min-width: 250px;

        input {
            width: 100%;
            padding: 10px 15px;
        }
    }

    &.hide {
        input {
            padding: 0;
            width: 0;
        }
    }
}
