.search {
    position: relative;
    display: flex;
    width: 40%;
    max-width: 400px;
    background-color: var(--light-background-color);
    border-radius: 5px;

    @media (max-width: 640px) {
        display: none;
    }

    input {
        flex-grow: 1;
        padding: 10px 15px;
        border: none;
        border-radius: 5px 0px 0px 5px;

        &:focus {
            outline: none;
        }
    }

    .search__icon {
        padding: 7.6px 15px;
        line-height: normal;
        border: none;
        border-radius: 0px 5px 5px 0px;
        background-color: var(--search-icon-background-color);
        color: var(--search-icon-color);
        cursor: pointer;

        &:hover {
            background-color: var(--light-hover);
        }
    }

    .suggestion-list {
        position: absolute;
        background-color: var(--light-background-color);
        top: calc(100% + 1px);
        width: 100%;
        border-radius: 5px;
        font-size: 14px;

        li {
            padding: 5px 10px;
            transition: background-color 0.3s ease;

            &:not(.no-hover):hover {
                background-color: var(--light-hover);
            }
        }
    }
}
