.course {
    padding-top: calc(2rem + 10px);
    position: relative;

    .wrapper {
        background-color: var(--secondary-background-color);
        position: relative;
        display: flex;

        @media (max-width: 640px) {
            flex-direction: column;
        }

        .course__nav {
            width: 300px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            height: 100vh;
            position: sticky;
            top: 0;
            background-color: inherit;

            @media (max-width: 640px) {
                width: 100%;
                min-width: 100%;
                position: relative;
            }

            .course__nav__head {
                margin: 20px 0;
                padding: 0 0 0 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__title {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    &__back {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 40px;
                        height: 40px;
                        font-size: 22px;
                        border-radius: 50%;
                        transition: background-color 0.3 ease;

                        &:hover {
                            background-color: var(--dark-hover);
                        }
                    }

                    h2 {
                        font-size: 20px;
                    }
                }

                .done__videos {
                    text-align: center;

                    &__progress {
                        display: inline-block;
                        margin-top: 5px;
                        width: 80%;
                        height: 10px;
                        margin: auto;
                        background-color: white;
                        border-radius: 10px;
                        overflow: hidden;
                        position: relative;

                        span {
                            height: 100%;
                            background-color: #3fb24b;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }

            .course__nav__list {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 20px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--dark-hover);
                    }

                    &.active {
                        background-color: var(--dark-hover);
                    }

                    &.done {
                        opacity: 0.3;
                        .course__nav__title {
                            text-decoration: line-through;
                        }

                        &.tooltip::before,
                        &.tooltip::after,
                        &.tooltip:hover:before,
                        &.tooltip:hover:after {
                            opacity: 0;
                        }
                    }

                    .course__nav__id {
                        color: white;
                        display: grid;
                        place-items: center;
                        min-width: 30px;
                        height: 30px;
                        background-color: blue;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
