.course-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 40%;
    max-width: 300px;
    color: var(--main-text-color);
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 10px var(--box-shadow-color);
    cursor: pointer;

    @media (max-width: 767px) {
        width: 47%;
    }
    @media (max-width: 454px) {
        width: 80%;
    }

    &:hover {
        transform: scale(1.02);
    }

    .course-card__premium__ribon {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: absolute;
            transform: rotate(45deg);
            background-color: purple;
            color: white;
            padding: 0px 20px;
            font-size: 14px;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
        }
    }

    .course-card__img {
        width: 100%;
        aspect-ratio: 16/9;

        img {
            display: block;
            width: 100%;
            height: 100%;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    .course-card__details {
        text-align: center;
        padding: 0.7rem 0;

        h1 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        p {
            padding: 0 4px;
        }

        .tags {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 10px;
            color: black;

            span {
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 5px;

                &.duration {
                    background-color: #1d59ff;
                }
            }
        }
    }
}
