.course-card {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40%;
    max-width: 300px;
    align-self: stretch;
    color: var(--main-text-color);
    background-color: var(--secondary-background-color);

    @media (max-width: 767px) {
        width: 47%;
    }
    @media (max-width: 454px) {
        width: 80%;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px var(--box-shadow-color);
    }

    .course-card__img {
        width: 100%;
        aspect-ratio: 16/9;

        img {
            display: block;
            width: 100%;
            height: 100%;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    .course-card__details {
        text-align: center;
        padding: 0.7rem 0;

        h1 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .tags {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 10px;
            color: white;

            span {
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 5px;

                &.duration {
                    background-color: rgb(29, 89, 255);
                }

                &.medium {
                    background-color: rgb(255, 166, 0);
                }

                &.hard {
                    background-color: rgb(255, 0, 0);
                }

                &.beginner {
                    background-color: rgb(0, 255, 0);
                }
            }
        }
    }
}
