:root {
    --main-background-color: rgb(17, 17, 17);
    --secondary-background-color: rgb(30, 30, 30);
    --tooltip-background-color: rgba(77, 77, 77, 0.87);
    --main-text-color: white;
    --dark-hover: rgba(255, 255, 255, 0.1);
    --light-hover: rgba(0, 0, 0, 0.1);
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    --search-icon-background-color: #f0f0f0;
    --search-icon-color: #333;
    --light-background-color: white;
    --main-background-color-hover: rgba(255, 255, 255, 0.1);
}

.light {
    --main-background-color: white;
    --secondary-background-color: rgb(240, 240, 240);
    --tooltip-background-color: rgba(30, 30, 30, 0.87);
    --main-text-color: black;
    --dark-hover: rgba(0, 0, 0, 0.1);
    --light-hover: rgba(255, 255, 255, 0.1);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --search-icon-background-color: #f0f0f0;
    --search-icon-color: #333;
    --light-background-color: white;
    --main-background-color-hover: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-background-color);
}

// nothing {
//     background-color: #cfcfcf;
//     background-color: #a0a0a0;
//     background-color: #707070;
//     background-color: #414141;
//     background-color: #111111;
//     background-color: #0e0e0e;
//     background-color: #0a0a0a;
//     background-color: #070707;
//     background-color: #030303;
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}
