.edit-course {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;

    &.dark {
        background-color: rgba(255, 255, 255, 0.247);
    }

    &.light {
        background-color: rgba(0, 0, 0, 0.247);
    }

    &__wrapper {
        position: relative;
        padding: 40px;
        background-color: var(--primary-background-color);
        width: 60%;
        border-radius: 10px;

        .cancel {
            position: absolute;
            top: 10px;
            right: 10px;
            color: var(--primary-text-color);
            font-size: 24px;
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .three-inputs {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 30px;

            .input-wrapper {
                grid-column: span 3;
            }
        }
    }
}
