.popup {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fade-in 0.2s linear forwards;

    .popup__wrapper {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px #000;
        width: 300px;
        text-align: center;
        color: black;

        &__providers {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            button {
                width: fit-content;
                border: none;
                outline: none;
                margin: auto;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                cursor: pointer;

                font: {
                    size: 18px;
                }

                img {
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                }
            }
        }

        .popup__close {
            font-weight: bold;
            color: red;
            border: 2px solid red;
            padding: 2px 10px;
            transition: all 0.3s ease;
            display: block;
            text-decoration: none;
            width: 100px;
            margin: 30px auto 0 auto;
            border-radius: 5px;

            &:hover {
                background-color: red;
                color: #fff;
            }

            cursor: pointer;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
